.open-iframe {
  position: fixed;
  z-index: 999999;
  bottom: 40px;
  right: 20px;
  height: 50px;
  width: 50px;
  background-color: #2161B3;
  font-size:  0;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  white-space: nowrap;
}

.open-iframe .open-text{
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  animation-delay: 10s;
  animation: fromLeftText 4s infinite alternate;
}

.open-iframe .message-icon{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  animation-delay: 10s;
  animation: toRightText 4s infinite alternate;
}

.close-iframe {
  display: none;
  position: fixed;
  z-index: inherit;
  top: 0;
  right: 14px;
  font-size:  0;
  height: 70px;
  width: 25px;
  background-color: #3498db;
  outline: none;
  border: 0;
  color: #fff;
  z-index: 9999 !important;
  cursor:  pointer;
  background-color:  transparent;
}

.close-iframe .close-icon{
  width: 15px;
  height: 15px;
  line-height: 70px;
}

.new-tab-iframe {
  display: none;
  position: fixed;
  z-index: inherit;
  top: 0;
  right: 40px;
  font-size:  0;
  height: 70px;
  width: 25px;
  background-color: #3498db;
  outline: none;
  border: 0;
  color: #fff;
  z-index: 9999 !important;
  cursor:  pointer;
  background-color:  transparent;
}

.new-tab-iframe .new-tab-icon{
  width: 15px;
  height: 15px;
  line-height: 70px;
}

.iframe-wrapper {
  position: relative;
}

.iframe-wrapper iframe {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  background-color: #fff;
  transform-origin: bottom left;
  overflow: hidden;
  box-shadow: 0px 0px 7px 1px #ababab;
  outline: none;
  border: 0;
  transform-origin: bottom right;
  z-index: 9998 !important;
  border-left: 2px solid #2161B3;
}
a
.iframe-wrapper iframe.close {
  animation: close-chat-anim 460ms 200ms cubic-bezier(0, 0, 0, 1) both;
}

@keyframes open-chat-anim {
  0% {
    display: none;
    opacity: 0;
    visibility: visible;
  }
  1% {
    display: auto;
    transform: scale(0.8);
    opacity: 0;
    box-shadow: 0 6px 20px transparent;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  }
}

@keyframes close-chat-anim {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    display: auto;
  }
  99% {
    transform: scale(0.8);
    opacity: 0;
    box-shadow: 0 6px 20px transparent;
    display: auto;
  }
  100% {
    display: none;
    opacity: 0;
    visibility: collapse;
  }
}

@keyframes toRightText{
  0%{
    transform: translateX(15%)
  }
  50%{
    transform: translateX(15%)
  }
  100%{
    transform: translateX(-125%)
  }
}

@keyframes fromLeftText{
  0%{
    transform: translateX(-2px)
  }
  50%{
    transform: translateX(-2px)
  }
  100%{
    transform: translateX(-125%)
  }
}