.login .form-control {
    float: left;
    margin-right: 5px;
    margin-top: 1px;
    height: 23px;
}

.form-control {
    border-radius: 3px;
    box-shadow: none !important;
    padding: 2px 10px !important;
    padding-right: 4px !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.login div #username {
    width: 130px;
    background: #fff;
    border-radius: 3px;
    box-shadow: none !important;
    padding: 2px 10px !important;
    padding-right: 4px !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.login div #password {
    width: 90px;
    background: #fff;
    border-radius: 3px;
    box-shadow: none !important;
    padding: 2px 10px !important;
    padding-right: 4px !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.login div input {
    font-size: 13px;
    width: 45px;
    margin-top: 1px;
    height: 21px;
    line-height: 20px;
}

/*Dialog Here*/
.ui-dialog-titlebar {
    background-color: #2677bd;
    padding: 10px 0;
    line-height: 16px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ui-dialog-titlebar-close {
    background-position: -52px -42px;
    height: 9px;
    width: 11px;
    border: none;
    margin: 3px 12px 0 0;
    padding: 0;
    float: right;
    text-indent: 99999px;
    font-size: 0;
}

.ui-dialog-titlebar-close {
    background-image: url(images/blue/btn.png);
    background-position: -52px -42px;
    height: 9px;
    width: 11px;
    border: none;
    margin: 3px 12px 0 0;
    padding: 0;
    float: right;
    text-indent: 99999px;
    font-size: 0;
}

.ui-dialog-title {
    font-size: 13px;
    font-weight: 700;
    color: #fff !important;
    margin-left: 27px;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 30px 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact .title-dw h3 {
    float: left;
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    padding-left: 10px;
}

#contact .title-dw img {
    float: left;
}

#contact .title-dw {
    height: 70px;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact input[type="number"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.confirm-box {
    height: 223px !important;
    position: fixed;
    margin-left: 25%;
}

.betList {
    background-color: #f0f0f0;
}

.ui-button-text-only {
    background-color: #2161b3;
    border: none;
    width: 80px;
    height: 25px;
    line-height: 18px;
    margin-right: 5px;
    color: #fff;
    letter-spacing: 3px;
}

.ui-dialog-buttonset {
    margin-top: 180px;
    border: 1px solid white;
    text-align: center;
    padding: 8px 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#btnlogin {
    background-color: #2f97f7;
    width: 75px;
    margin-top: 5px;
    height: 27px;
    float: left;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    border: none;
    background-position: 9px 6px;
}

.header .menu3 .forgot-password {
    margin-top: 5px;
    margin-left:10px;
    float: right;
}

.footer .col1 {
    width: 100%;
    float: left;
    height: auto;
}

.footer .col2 {
    float: right;
    height: auto;
}

.col_img {
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: -5px 0px 50px 50px;
    background: url(../images/col_img_bg.png) no-repeat;
}

.col_img2 {
    float: right;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-top:-6px;
    position: relative;
    margin-right:50px;
    background: url(../images/col_img_bg2.png) no-repeat;
}

.col_subhead {
    width: 490px;
    height: 44px;
    position: relative;
    margin-top: 40px;
    margin-left: 50px;
    background: url(../images/col_subhead_bg.png) no-repeat;
    overflow: visible;
}

.col_subhead2 {
    float:right;
    width: 490px;
    height: 44px;
    position: relative;
    margin-top: 44px;
    right: -51px;
    background: url(../images/col_subhead_bg2.png) no-repeat;
    overflow: visible;
}
.col_icon1 {
    position: absolute;
    top: 8px;
    left: 62px;
}
.col_icon2 {
    position: absolute;
    top: 6px;
    right: 130px;
}
.col1 a{
    text-decoration: none;
}
.col2 a{
    text-decoration: none;
}
.col_headtxt1 {
    position: absolute;
    top: 9px;
    left: 77px;
}
.col_headtxt2 {
    position: absolute;
    top: 8px;
    left: 235px;
}
@media screen and (max-width:736px) {
    body {
        width:auto;
    }
    #header, #main, #side, .frame, #footer {
        position: relative;
        min-width: auto;
        width: 100%;
        height: auto;
    }
    .items li {
        float: none;
        width: 100%;
    }

    .header .lotterys a {
        float: none;
        display: block;
    }

    .header .lotterys .show {
        margin-left: 0;
        float: none;
        position: absolute;
        width: 100%;
        top: 100%;
        display: none;
    }

    .menucontainer {
        width: auto;
        position: static;
    }

    .skin_blue .header .lotterys a {
        background: #252525;
        border-bottom: 1px solid #FFF;
    }

    .header .lotterys .items a span {
        width: auto;
    }

    #main {
        top: 0 !important;
        bottom: auto;
    }

    .header .menu1 {
        float: none;
        margin-left: 0;
    }

    .menu1 .draw_number {
        float: none;
        height: auto;
        margin: 0;
        display: block;
        padding: 0 10px;
    }

    .logo {
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        height: auto;
        text-align: center;
    }
    .skin_blue .header .menu {
        height:auto;
    }
    .skin_blue .header .menu a {
        margin-top: 0 !important;
        margin-left: 10px;
        text-align: left;
    }

    .menu1 .T_PK10 b {
        margin: 0 0 0 -1px;
    }

    .result_stat {
        position: relative;
        top: auto;
        margin: 10px 0 0 0;
    }

    .menu1 a span {
        display: inline-block;
        float: none;
    }

    .result_stat .statitm {
        margin: 0 2px 3px 0px;
    }

    .header .menu3 {
        float: none;
        clear: both;
        display: table;
        padding-bottom: 15px;
    }

    .login .form-control {
        width: 50%;
        margin: 0;
        height: auto;
    }

    .login div input {
        width: 100% !important;
        border: 1px solid #FFF;
        border-radius: 0 !important;
        height: 28px;
        outline: none;
    }

    #btnlogin {
        /* float: none; */
        margin-left: 10px;
    }

    .header .menu3 .forgot-password {
        float: left;
    }

    .skin_blue .spritearrow {
        display: none;
    }

    .btnMenu {
        display: block !important;
        position: absolute;
        width: 48px;
        height: 38px;
        top: 0;
        right: 0;
        background: url(../images/icon_bar.png) 50% 50% no-repeat;
        background-size: 30px;
        margin:0;
    }

    .col_subhead {
        width: 100%;
        margin: 10px 0 0 0;
    }

    .footer>.col1 {
        float: none;
        margin-bottom: 0px;
        padding: 35px 15px 0;
    }

    .col_img {
        margin: -5px 0 0 0;
    }

    .footer>.col2 {
        float: none;
        display: table;
        width: 100%;
        padding: 0 15px;
    }

    .footer {
        height: auto;
        display: block;
    }

    .col_subhead2 {
        width: 100%;
        margin-top: 20px;
        right: 0;
        background: url(../images/col_subhead_bg.png) no-repeat;
        /* left: 15px; */
    }

    .col_icon2 {
        right: auto;
        left: 38px;
    }

    .col_img2 {
        margin: -5px 0px 0 0;
        background: #FFF;
    }

    .col_headtxt2 {
        left: 48px;
    }

    .col_icon1 {
        left: 38px;
    }

    .col_headtxt1 {
        left: 62px;
    }
    .logout {
        margin-left:15px;
    }
    .skin_blue .header .sub {
        padding-left:15px;
    }
    .blockFrame {
        width:100%;
        overflow:auto;
    }
    .split_panel {
        display: table;
    }

    form#bet-type-1 {
        overflow: scroll;
    }

    .split_panel table {
        width: 100% !important;
        box-sizing: border-box;
    }
    .skin_blue #side {
        width: 100%;
    }

    .skin_blue .lpheader {
        width: 97%;
    }

    .lpcontent {
        width: 97%;
        box-sizing: border-box;
    }

    .skin_blue .lpheader2 {
        width: 97%;
    }

    .frame {
        left: 0;
        height: 2330px;
    }

    .frame iframe {
        min-width: auto;
    }
    .control .buttons {
        width: 100%;
        margin-left: 0 !important;
    }

    #changlong, #quick_sec_table {
        width: calc(100% - 8px) !important;
    }
}
