.shine-btn-wrapper {
    text-align: center;
}

.shine-btn-wrapper img {
    position: absolute;
    height: 40px;
    width: 40px;
}

.shine-btn-wrapper img.a {
    top: -10px;
    right: 10px;
    animation: star 600ms infinite alternate;
}

.shine-btn-wrapper img.b {
    top: 0;
    left: 0;
    animation: star 888ms infinite alternate;
}

.shine-btn-wrapper img.c {
    top: -16px;
    left: 20px;
    animation: star 1000ms infinite alternate;
}

.shine-btn-wrapper img.d {
    top: 10px;
    right: 20px;
    animation: star 500ms infinite alternate;
}

.shine-btn-wrapper img.e {
    top: -10px;
    left: 50px;
    animation: star 988ms infinite alternate;
}

.shine-btn-wrapper img.f {
    top: 5px;
    left: 150px;
    animation: star 1100ms infinite alternate;
}

.shine-btn-wrapper .gold {
    cursor:pointer;
    background: #ebc735;
    background: -moz-linear-gradient(top, #ebc735 0%, #ffe871 17%, #ba7d1d 72%, #ce9d28 100%);
    background: -webkit-linear-gradient(top, #ebc735 0%, #ffe871 17%, #ba7d1d 72%, #ce9d28 100%);
    background: linear-gradient(to bottom, #ebc735 0%, #ffe871 17%, #ba7d1d 72%, #ce9d28 100%);
    box-shadow: inset 0 0 4px #fff;
    outline: none;
    border: 0;
    width: 190px;
    height: 30px;
    margin: 2px auto;
    border-radius: 4px;
    overflow: hidden;
    color: #000;
    position: relative;
    text-shadow: 0 1px 1px rgba(255,255,255,0.5);
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #bd772a;
}

.shine-btn-wrapper .gold:before {
    content: '';
    background: -moz-linear-gradient(left, rgba(255,255,255,0.1) 0%, #fff 50%, rgba(255,255,255,0.1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.1) 0%, #fff 50%, rgba(255,255,255,0.1) 100%);
    position: absolute;
    left: 0;
    height: 50px;
    width: 60px;
    top: 0;
    opacity: 0.2;
    animation: glare 1s linear infinite;
}

.shine-btn-wrapper .gold:active {
    background: #ebc735;
    background: -moz-linear-gradient(bottom, #ebc735 0%, #ffe871 17%, #ba7d1d 72%, #ce9d28 100%);
    background: -webkit-linear-gradient(bottom, #ebc735 0%, #ffe871 17%, #ba7d1d 72%, #ce9d28 100%);
    background: linear-gradient(to top, #ebc735 0%, #ffe871 17%, #ba7d1d 72%, #ce9d28 100%);
}

@-moz-keyframes glare {
    from {
        transform: translateX(-50px) skewX(-20deg);
    }

    to {
        transform: translateX(250px) skewX(-20deg);
    }
}

@-webkit-keyframes glare {
    from {
        transform: translateX(-50px) skewX(-20deg);
    }

    to {
        transform: translateX(250px) skewX(-20deg);
    }
}

@-o-keyframes glare {
    from {
        transform: translateX(-50px) skewX(-20deg);
    }

    to {
        transform: translateX(250px) skewX(-20deg);
    }
}

@keyframes glare {
    from {
        transform: translateX(-50px) skewX(-20deg);
    }

    to {
        transform: translateX(250px) skewX(-20deg);
    }
}

@-moz-keyframes star {
    from {
        transform: scale(0.2) translate(2px, 2px);
        opacity: 0;
    }

    to {
        transform: scale(1) translate(0, 0);
        opacity: 0.7;
    }
}

@-webkit-keyframes star {
    from {
        transform: scale(0.2) translate(2px, 2px);
        opacity: 0;
    }

    to {
        transform: scale(1) translate(0, 0);
        opacity: 0.7;
    }
}

@-o-keyframes star {
    from {
        transform: scale(0.2) translate(2px, 2px);
        opacity: 0;
    }

    to {
        transform: scale(1) translate(0, 0);
        opacity: 0.7;
    }
}

@keyframes star {
    from {
        transform: scale(0.2) translate(2px, 2px);
        opacity: 0;
    }

    to {
        transform: scale(1) translate(0, 0);
        opacity: 0.7;
    }
}



.popup.dialing {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    border-radius: 5px;
    background: #1a5497; /* Old browsers */
    background: -moz-linear-gradient(
            top,
            #1a5497 0%,
            #08386c 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
            top,
            #1a5497 0%,
            #08386c 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
            to bottom,
            #1a5497 0%,
            #08386c 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#1a5497",
            endColorstr="#08386c",
            GradientType=0
    ); /* IE6-9 */
    z-index: 1;
}

.popup.dialing .container {
    position: relative;
    padding: 10px;
}

.popup.dialing .popup-icon {
    display: block;
    margin: 20px auto 20px;
}

.popup.dialing p {
    text-align: center;
    color: #fff;
    margin: 0;
}

.popup.dialing .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup.dialing .close-btn a {
    color: #fff;
    text-decoration: none;
}

.popup.dialing .warning-wrapper {
    margin: 20px 0;
}

.popup.dialing .dialing-text {
    font-size: 20px;
}

.popup.dialing .dialing-info {
    font-size: 12px;
}

.popup.dialing .tel-wrapper {
    margin: 20px 0;
}
.popup.dialing .tel-desc {
    font-size: 12px;
}
.popup.dialing .tel {
    font-size: 22px;
    font-weight: bold;
}

.popup.dialing .confirm-btn {
    display: block;
    width: 140px;
    height: 40px;
    outline: none;
    color: #fff;
    border: 0;
    border-bottom: 4px solid #d68731;
    border-radius: 4px;
    margin: 20px auto 20px;
    background-color: #ffc247;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.popup.dialing .confirm-btn:active {
    transform: translateY(2px);
    border-bottom: 3px solid #d68731;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(55, 55, 55, 0.7);
    z-index: 0;
}


.vip-badge {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
}

.vip-badge img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.vip-badge span{
    position: absolute;
    top: 4px;
    right: 0;
    bottom: 0;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 7px;
    height: 15px;
    text-indent: 0;
    -webkit-transform: rotate(-45deg) ;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.vip-badge span b {
    font-size: 11px;
    font-weight: bold;
    text-indent: 0
}